.single-meal {
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    border-bottom: 1px solid #ccc;
    align-items: center;
  }
  .single-meal section {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .single-meal h2 {
    margin: 0 0 0.2rem 0;
    color: rgb(24, 23, 23);
  }

  .single-meal div {
    margin: auto 0;
  }

  .description {
    font-style: italic;
    margin: 0;
  }
  
  .price {
    font-weight: bold;
    color: #c1350f;
    font-size: 1.8rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  @media(max-width: 900px) {
    .single-meal {
      flex-wrap: wrap;
      flex-direction: column;
      margin-top: 0;
     
    }
    .single-meal section {
      flex-direction: column;
      width: 100%;
      align-self: center;
      text-align: center;
    }
    .single-meal h2 {
      margin-top: 2rem;
    }
  }