.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #794733;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0, 1);
  }
  
  .button:hover,
  .button:active {
    background-color: #593526;
    box-shadow: 3px 3px 7px 0px rgba(0,0,0, 1);
  }
  
  .icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
  }
  
  .cart-content {
    background-color: #ad6549;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
  }
  
  .button:hover .cart-content,
  .button:active .cart-content {
    background-color: #88503a;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }