.info {
    font-family: 'Barlow', sans-serif;
    text-align: center;
    max-width: 55rem;
    width: 80%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: #c2a78e;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
  }
  
  .info h1 {
    font-size: 2rem;
    margin-top: 0;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.5);
  }