.wrapper {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
  }

  @media(max-width: 900px) {
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}